
form {
    background-color: rgb(110, 122, 233);
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 550px;
    height: auto;
    margin: 20px;
    text-align: center;
    
}


label {
    display: block;
    margin: 10px;
    
   
    
}

label input {
    
}

textarea {

    width: 300px;
    height: 200px;
}



span {
    color:red;
    font-size:15px;
}

